<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Portfolio</a>
  </div>
</nav>

<section class="hero-banner d-flex justify-content-start">
  <div class="container">
    <div class="hero-text">
      <h1 class="display-3">Jonne Miettinen - Koodaaja</h1>
      <p class="lead">
        Tervetuloa, olet löytänyt itsesi Jonne Miettisen portfoliosivulle. Olen
        valmistumista lähellä oleva Jyväskylän ammattikorkeakoulun opiskelija.
        Ohessa linkkejä valikoituihin tekemiini töihin. Näiden lisäksi olen
        tehnyt AWS järjestelmän ympärille rakennettuja asiakasprojekteja.
      </p>
      <p class="lead">
        Welcome, you have found yourself to portfolio-page of Jonne Miettinen. I
        am nearly graduated student of Jyväskylä University of Applied Sciences.
        Here are some links to projects I have done over the years. Alongside
        these I have also done a few customer projects around AWS systems.
      </p>
    </div>
  </div>
</section>

<div class="doneworks">
  <div class="card" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">School Information Bot</h5>
      <p class="card-text">
        AWS Lex bot created to assist new student in onboarding for their school
        - Systems used: Lex, Lambda - Python, Gateway, DynamoDB
      </p>

      <a
        href="https://github.com/AB8021/schoolinformationbot"
        class="btn btn-primary"
        >Open in GitHub</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">Weather Search</h5>
      <p class="card-text">
        Application that uses Finnish Meteorogical Institute's data to display
        weather predictions per municipality. Created in both Svelte and Angular
      </p>
      <a
        href="https://github.com/AB8021/Svelteweathersearch"
        class="btn btn-primary"
        >(Svelte) - Open in GitHub</a
      >

      <a
        href="https://github.com/AB8021/angularweathersearch"
        class="btn btn-primary"
        >(Angular) - Open in GitHub</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">mobileMapImages</h5>
      <p class="card-text">
        Angular based mobile web-application that uses OpenStreetMaps to display
        ability to add markers on a map with offline functionality
      </p>
      <a
        href="https://github.com/AB8021/mobileMapImages"
        class="btn btn-primary"
        >Open in GitHub</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h5 class="card-title">QraphQL Restaurant Manager</h5>
      <p class="card-text">
        Using GraphQL API to manage a fake restaurant backend.
      </p>
      <a
        href="https://github.com/AB8021/graphQLRrestaurantManager"
        class="btn btn-primary"
        >Open in GitHub</a
      >
    </div>
  </div>
</div>
